body,
h1, h2, h3, h4, h5, h6,
.c-title,
.p-subtitle {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1, h2 {
  font-size: 150%;
}

h3 {
  font-size: 100%;
  font-style: italic;
}

p,
.c-article, 
.c-article__summary,
.p-article, 
li {
  font-size: 14pt;
}

blockquote {
  background: #f5f5f5;
}

.c-article__summary {
  color: #555
}

.c-article__meta,
.c-time {
  color: gray;
}

code {
  background: #f5f5f5;
  font-size: 12pt;
}

pre code {
  background: none;
  font-size: 11pt;
}

.l-header {
  background: url(../images/header_light.jpg) no-repeat center;
}

.p-title__link,
.p-subtitle,
.p-title__link:hover {
  color: white;
}

.p-copyright {
  color: rgb(177, 177, 177);
}

.p-copyright a {
  color: rgb(177, 177, 177);
  text-decoration: underline;
}

.p-copyright a:hover {
  color: rgb(51, 122, 183);
}

.p-menu {
  margin-top: 0;
}

.p-subtitle {
  font-size: 16pt;
  margin: 0 0 1em 0;
  line-height: 1em;
}

.c-article__title a:hover {
  color: rgb(51, 122, 183);
}
